@charset "UTF-8";

.content {
  height: 500px;
}

.coffee-img {
  background: url(/Users/wakana/Desktop/練習用/LayoutParts-Part2/q8/q8/image/coffee-background.jpg);
}

.coffee-img-repeat {
  background: url(/Users/wakana/Desktop/練習用/LayoutParts-Part2/q8/q8/image/coffee-background.jpg) no-repeat;
}

.coffee-img-center {
  background: url(/Users/wakana/Desktop/q8/q8/image/coffee-background.jpg) no-repeat center/cover;
}

.coffee-img-center2 {
  background: url(/Users/wakana/Desktop/q8/q8/image/coffee-background.jpg) no-repeat center/contain;
}